@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-100: #ecedb0;
  --color-base-200: #ecedb0;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

html {
  overflow-x: hidden;
}

.tilt-wrapper {
  perspective: 1000px;
}

.transition-dropdown {
  animation: popUp 0.05s ease-in-out;
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    transform: translateX(500px);
  }
  100% {
    transform: scale(1);
    transform: translateX(0);
  }
}

.appear {
  animation: appear ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
