@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-100: #ecedb0;
  --color-base-200: #ecedb0;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

html {
  overflow-x: hidden;
}

.tilt-wrapper {
  perspective: 1000px;
}

.transition-dropdown {
  animation: popUp 0.05s ease-in-out;
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    transform: translateX(500px);
  }
  100% {
    transform: scale(1);
    transform: translateX(0);
  }
}

.appear {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.appear-2 {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.slide-1 {
  animation: appear 0.8s ease-in-out;
}

.buttonPrimery {
  display: inline-block;
  /* width: 100%; */
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background: linear-gradient(90deg, #ffa500, #ff4c4c);
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
}

.buttonPrimery:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.buttonPrimery:active {
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes appear {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.active {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  z-index: 0;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: linear-gradient(
    90deg,
    #ffa500,
    #ff4c4c
  ); 
  border-radius: 3px; 
  bottom: 0;
  left: 0;
  z-index: -1; 
  transition: transform 0.3s ease;
}

.active:hover::after {
  transform: scaleX(1.07); 
}
