@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-100: #ecedb0;
  --color-base-200: #ecedb0;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

/* button,
a {
  background: linear-gradient(135deg, #ff914d, #fea918);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(255, 49, 49, 0.3);
  transition: all 0.3s ease-in-out;
}

button:hover,
a:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(255, 49, 49, 0.5);
  background: linear-gradient(135deg, #ff6a00, #fea918);
}

button:active,
a:active {
  transform: scale(0.97);
} */

.transition-dropdown {
  animation: popUp 0.05s ease-in-out;
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    transform: translateX(500px);
  }
  100% {
    transform: scale(1);
    transform: translateX(0);
  }
}
